# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js PUBLISH

on:
  push:
    branches: [ "main" ]

jobs:
  version-and-tag:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        token: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Configure Git
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
    
    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: 'npm'
    
    - name: Install dependencies
      run: npm ci
    
    - name: Make push.sh executable
      run: chmod +x ./scripts/push.sh
    
    - name: Run push.sh script for versioning and tagging
      run: cd scripts && ./push.sh

  call_build:
    needs: version-and-tag
    uses: ./.github/workflows/node.build.js.yml
  publish:

    needs: call_build

    runs-on: ubuntu-latest

    environment: prod

    steps:
    - run: 'echo "NPM_AUTH_TOKEN: ${NPM_AUTH_TOKEN:1:1}"'
      shell: bash
      env:
        NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    - uses: actions/checkout@v4
      with:
        ref: main
        # Pull the latest changes including version bump
        fetch-depth: 0
    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: 'npm'
    - name: get build-output artifact
      uses: actions/download-artifact@master
      with:
        name: build-output
        path: dist/
    - run: echo "//registry.npmjs.org/:_authToken=$NPM_AUTH_TOKEN" > .npmrc && npm publish
      env:
        # Use a token to publish to NPM. See below for how to set it up
        NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
